:root
{
    --color--primary: #475B5A;
    --color--secundary:#b3033b;
}

body{
    max-width: 1400px;
    min-width: 1024px;
}

.title{
    font-size: 3.5rem;
    padding: 0rem 0rem 0rem 10rem;
}

.articulo
{
    padding: 1rem;
    background-color: white;
}

.articulo:hover{
    background-color: rgb(186, 183, 183);
}

.articulo--active
{
    background-color:  rgb(186, 183, 183);
}

.articulo:active
{
    background-color:  rgb(186, 183, 183);
}

.articulo__header--h4
{
    font-size: 1.5rem;
    color: var(--color--secundary);
}

.flex-space
{
    display: flex;
    justify-content: space-between;
}

.flex-center
{
    display: flex;
    justify-content: center;

}

.navBar
{
    margin-bottom: 2.5rem;
    padding: 1rem;
}

.navBar__nav
{
    background-color: #ad667a;
    width: 28rem;
    padding: 1rem;
}

@media screen and (max-width:424px)
{
    .navBar
    {
        width: 424px;
        padding: 0.5em;
    }
    .navBar__nav
    {
        width: 50px;
    }
    .navBar__button
    {
        width: 40px;
    }
}

.navBar__nav-a
{
    color:white;
    text-decoration: none;
}


.navBar__button
{
    background-color: var(--color--primary);
    color: white;
    border-radius: 40px;
    border: transparent;
}

.presentation
{
    padding: 1rem;
    
}

.presentation__image-profile
{
    border: 1px solid transparent;
    border-radius: 15px;
    padding: 0.5rem;
}

.presentation__description
{
    font-size: 2rem;
    width: 30rem;
    padding: 0.5rem;
    color:var(--color--primary);
}
